&{
  > *{
    height: 100%;
  }
  padding: 0px 0px 0px 0px !important;
  background-color: #f0f3f4;
  .title{
    padding: 20px 20px 20px 20px;
    height: 65px;
  }
  .body{
    padding-top: 20px;
    height: calc(100% - 66px);
    overflow: hidden;
    overflow-y: auto;
  }
}