<div class="vbox">
    <div class="wrapper b-b">
        <form role="search">
            <div class="input-group">
                <input type="text" ng-model="searchDashboard" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{'header.form.search' | translate}}...">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>
    <div class="nav-tabs-alt">
        <ul class="nav nav-tabs nav-justified" ng-init="tab = 2">
            <li ng-show="user" ng-class="{'active': tab === 1}">
                <a href="" ng-click="tab = 1">
                    <span class="fa fa-user fa-x2" ng-class="{'text-muted': tab !== 1, 'text-info': tab === 1}"></span>
                </a>
            </li>
            <li ng-class="{'active': tab === 2}">
                <a href="" ng-click="tab = 2">
                    <span class="fa fa-users fa-x2" ng-class="{'text-muted': tab !== 2, 'text-info': tab === 2}"></span>
                </a>
            </li>
        </ul>
    </div>
    <div class="row-row">
        <div class="cell scrollable hover">
            <div class="cell-inner">
                <div class="tab-content">
                    <div ng-show="user" class="tab-pane" ng-class="{'active': tab === 1}">
                        <ul class="nav">
                            <li ng-repeat="dashboard in myDashboards | filter:searchDashboard | orderBy:'value.title'" ui-sref-active="bg-light">
                                <a ui-sref="dashboard({id: dashboard.id})">
                                    <span class="thumb-xs avatar m-t-n-xs m-b-n-xs m-l-xs">
                                        <img ng-src="{{dashboard.value.author.picture}}" alt="...">
                                        <i class="on md b-white bottom"></i>
                                    </span>
                                    <span class="font-bold">{{dashboard.value.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" ng-class="{'active': tab === 2}">
                        <ul class="nav">
                            <li ng-repeat="dashboard in dashboards | filter:searchDashboard | orderBy:'value.title'" ui-sref-active="bg-light">
                                <a ui-sref="dashboard({id: dashboard.id})">
                                    <span class="thumb-xs avatar m-t-n-xs m-b-n-xs m-l-xs">
                                        <img ng-src="{{dashboard.value.author.picture}}" alt="...">
                                        <i class="on md b-white bottom"></i>
                                    </span>
                                    <span class="font-bold">{{dashboard.value.title}}</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="padder b-t b-light text-center">
        <ul class="nav">
            <li ui-sref-active="active">
                <a ui-sref="dashboard({id: null})"  class="auto">
                    <span class="fa fa-plus icon text-success"></span>
                    <span class="font-bold">{{'nav.dashboard.new' | translate}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>