
textarea.form-control{
  height: 80px;
}
.settings{
  height: calc(100% - 120px);
  .panel-body{
    height: calc(100% - 90px);
    overflow-x: auto;
  }
  table.panel-footer{
    height: 100px;
    overflow: hidden;
  }
}
