<div class="analyse">

    <div class="loading" ng-if="!results">
        <p class="text-center text-muted">{{'dashboard.analyse.loading' | translate}}...</p>
        <div class="progress progress-xs progress-striped active m-t-xs m-b-none">
            <div class="progress-bar progress-bar bg-info" data-toggle="tooltip" style="width: 100%"></div>
        </div>
    </div>

    <table ng-if="results && analyse.type === 'TABLE'" class="table table-striped m-b-none">
        <thead>
        <tr>
            <th ng-repeat="(key, value) in results[0]">{{key}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results">
            <td ng-repeat="value in result">{{value}}</td>
        </tr>
        </tbody>
    </table>

    <div ng-if="results && analyse.type === 'PIE'" google-chart chart="pieResults"></div>

</div>