<div class="analyse">

    <div ng-if="!results && analyse && !error" class="loading col-xs-6 col-xs-offset-3">
        <p class="text-center text-muted">{{'dashboard.analyse.loading' | translate}}...</p>
        <div class="progress progress-xs progress-striped active m-t-xs m-b-none">
            <div class="progress-bar progress-bar bg-info" data-toggle="tooltip" style="width: 100%"></div>
        </div>
    </div>

    <blockquote ng-if="error">
        <p class="text-danger">{{'dashboard.analyse.error.title' | translate}}!</p>
        <small class="text-muted">
            {{error.status}} {{error.statusText}} :
            <br>
            <cite ng-if="error.status === 405">{{'dashboard.analyse.error.405' | translate}}</cite>
            <cite ng-if="error.message">{{error.message}}</cite>
        </small>
    </blockquote>

    <div ng-if="results && !error" google-chart chart="results" class="chart-{{analyse.type.toLowerCase()}}"></div>

</div>