<div class="title bg-light lter b-b wrapper-md row">
    <div class="col-xs-6">
        <h1 class="m-n font-thin h3">
            <span class="fa fa-dashboard"></span>
            <input type="hidden" ng-init="dashboard.author = dashboard.author || user" ng-model="dashboard.author"/>
            <input class="title-input" ng-if="!dashboard._id || isOwner()" ng-model="dashboard.title"/>
            <span ng-if="dashboard._id && !isOwner()">{{dashboard.title}}</span>
        </h1>
    </div>
    <div class="col-xs-6">
        <div ng-if="isOwner()" class="button-group pull-right">
            <button class="btn btn-danger" ng-click="deleteDashboard()">
                <span class="fa fa-trash"></span>
                {{'dashboard.delete' | translate}}
            </button>
            <button class="btn btn-danger" ng-click="saveDashboard()" ng-disabled="!hasChange">
                <span class="fa fa-save"></span>
                {{'dashboard.save' | translate}}
            </button>
        </div>
    </div>

</div>

<div app-analyse-form="analyse" app-analyse-form-active="formActive" app-analyse-form-submit="formAnalyseSubmit" app-analyse-form-is-owner="isOwner"></div>

<div class="body">

    <div class="col-xs-12">


        <ul class="list-group" ui-sortable="" ng-model="dashboard.analyses">
            <li as-sortable-item class="panel-analyse list-group-item col-xs-12 col-sm-12 col-md-6 col-lg-4 panel" ng-repeat="analyse in dashboard.analyses track by $index">
                <div class="panel-heading">
                    <div class="btn-group pull-right">
                        <button class="btn btn-default btn-addon btn-xs" ng-click="updateAnalyse(analyse, $index)">
                            <span class="fa fa-edit"></span>
                        </button>
                        <button ng-if="isOwner()" class="btn btn-default btn-addon btn-xs" ng-click="deleteAnalyse($index)">
                            <span class="fa fa-remove"></span>
                        </button>
                    </div>

                    <h4 class="font-thin m-t-none m-b-none text-muted">
                        <span class="fa" ng-class="{'fa-table': analyse.type === 'TABLE', 'fa-pie-chart': analyse.type === 'PIE', 'fa-rotate-90': analyse.type === 'BAR', 'fa-bar-chart': analyse.type === 'BAR' || analyse.type === 'COLUMN', 'fa-line-chart': analyse.type === 'LINE'}"></span>
                        {{analyse.title}}
                    </h4>
                </div>
                <ul class="list-group list-group-lg m-b-none">
                    <li class="list-group-item">
                        <div app-analyse="analyse"></div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>

