@import "style";

header{
  @import "header/style";
}
nav{
  @import "nav/style";
}
aside{
  @import "aside/style";
}
article{
  @import "article/style";
  @import "article/dashboard/style";
}

html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
nav, aside, article{
  height: calc(100% - 50px);
  overflow: hidden;
}
nav, aside{
  height: calc(100% - 50px);
  overflow-Y: auto;
}

#loading-bar .bar{
  position: fixed;
  top: 48px;
}