<!-- navbar header -->
<div class="navbar-header">
    <!-- brand -->
    <a href="#/" class="navbar-brand text-lt">
        {{'header.brand' | translate}}
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse">

<!-- link and dropdown -->
<ul class="nav navbar-nav hidden-sm">
    <li class="dropdown pos-stc" dropdown>
        <a href class="dropdown-toggle" dropdown-toggle>
            <span>{{'header.link' | translate}}</span>
            <span class="caret"></span>
        </a>
        <div class="dropdown-menu wrapper w-full bg-white animated fadeInRight">
            <div class="row">
                <div class="col-sm-4">
                    <div class="m-l-xs m-t-xs m-b-xs font-bold">{{'header.link.page' | translate}} <span class="badge badge-sm bg-success">10</span></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list-unstyled l-h-2x">
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.profile' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.post' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.search' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.invoice' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-unstyled l-h-2x">
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.price' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.lock.screen' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.signin' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.page.signup' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 b-l b-light">
                    <div class="m-l-xs m-t-xs m-b-xs font-bold">{{'header.link.ui.kits' | translate}} <span class="label label-sm bg-primary">12</span></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <ul class="list-unstyled l-h-2x">
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.buttons' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.icons' | translate}} <span class="badge badge-sm bg-warning">1000+</span></a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.grid' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.widgets' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-xs-6">
                            <ul class="list-unstyled l-h-2x">
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.bootstrap' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.sortable' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.portlet' | translate}}</a>
                                </li>
                                <li>
                                    <a href><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>{{'header.link.ui.kits.timeline' | translate}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 b-l b-light">
                    <div class="m-l-xs m-t-xs m-b-sm font-bold">{{'header.link.analysis' | translate}}</div>
                    <div class="text-center">
                        <div class="inline">
                            <div ui-jq="easyPieChart" ui-options="{
                          percent: 65,
                          lineWidth: 50,
                          trackColor: '{{app.color.light}}',
                          barColor: '{{app.color.info}}',
                          scaleColor: false,
                          size: 100,
                          rotate: 90,
                          lineCap: 'butt',
                          animate: 2000
                        }">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<!-- / link and dropdown -->

<!-- nabar right -->
<ul class="nav navbar-nav navbar-right">
    <li class="dropdown" dropdown ng-if="user">
        <a href class="dropdown-toggle" dropdown-toggle>
            <span class="fa fa-bell-o"></span>
            <span class="visible-xs-inline">{{'header.notification' | translate}}</span>
            <span class="badge badge-sm up bg-danger pull-right-xs">2</span>
        </a>
        <!-- dropdown -->
        <div class="dropdown-menu w-xl animated fadeInRight">
            <div class="panel bg-white">
                <div class="panel-heading b-light bg-light">
                    <strong>{{'header.notification.nb' | translate:'{nb: 2}'}}</strong>
                </div>
                <div class="list-group">
                    <a href class="media list-group-item">
                    <span class="pull-left thumb-sm">
                      <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/6/000/1ad/04e/05bbcfe.jpg" alt="..." class="img-circle">
                    </span>
                    <span class="media-body block m-b-none">
                      Use awesome animate.css<br>
                      <small class="text-muted">10 minutes ago</small>
                    </span>
                    </a>
                    <a href class="media list-group-item">
                    <span class="media-body block m-b-none">
                      1.0 initial released<br>
                      <small class="text-muted">1 hour ago</small>
                    </span>
                    </a>
                </div>
                <div class="panel-footer text-sm">
                    <a href class="pull-right"><i class="fa fa-cog"></i></a>
                    <a href="#notes" data-toggle="class:show animated fadeInRight">{{'header.notification.all' | translate}}</a>
                </div>
            </div>
        </div>
        <!-- / dropdown -->
    </li>
    <li ng-if="!user">
        <div class="signin" app-login-frame></div>
    </li>
    <li class="dropdown" dropdown ng-if="user">
        <a href class="dropdown-toggle clear" dropdown-toggle>
              <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                <img ng-src="{{user.getPicture()}}" alt="...">
                <i class="on md b-white bottom"></i>
              </span>
            <span class="hidden-sm hidden-md">{{user.getName()}}</span> <b class="caret"></b>
        </a>
        <!-- dropdown -->
        <ul class="dropdown-menu animated fadeInRight w">
            <li class="wrapper b-b m-b-sm bg-light m-t-n-xs">
                <div>
                    <p>{{'header.user.used' | translate:'{nb: 120, of: 200}'}}</p>
                </div>
                <progressbar value="60" class="progress-xs m-b-none bg-white"></progressbar>
            </li>
            <li ng-if="user.getLink()">
                <a target="_blank" ng-href="{{user.getLink()}}">
                    {{'header.user.profile' | translate}}
                    <span class="pull-right fa fa-google-plus-square"></span>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a ng-click="logout()">
                    {{'header.user.logout' | translate}}
                    <span class="pull-right fa fa-sign-out"></span>
                </a>
            </li>
        </ul>
        <!-- / dropdown -->
    </li>
</ul>
<!-- / navbar right -->

</div>
<!-- / navbar collapse -->